.titles{
  font-size: 50px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Patrick Hand', serif;

  }

#landing{
  height: 100vh;
  background-color: #154e72;
  background: url(images/bg.jpg);
  background-position: center;
  background-size: cover;
}


.landing-spacing1{
    height: 200px;

}
.landing-spacing{
    height: 300px;

}

@media (max-width: 992px){
  .landing-spacing{
    height: 535px;
  }
}

@media (max-width: 576px){
  .landing-spacing{
    height: 100px;
  }
}




.logo{
    width: 75px;
    padding-left: 20px;
}

.navbar {
  overflow: hidden;
  position: sticky;
  background-color: transparent;
  height: 75px;
  width: 100%;
  margin: auto;
}

#navbar ul li a{
  color: #154e72;
}

#navbar ul li a:hover {
  color: #c33c23!important;

}



.nav-item{
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 27px;
  font-size: 20px;
}



div > .jumbotron p{
    font-family: 'Patrick Hand', cursive;
    color: #c33c23;
}

.btn{
  width: 130px;
  height: 55px;
  padding: 10px 10px;
  border: 2px solid #000;
  font-family: 'Patrick Hand', sans-serif;
  font-weight: 500;
  background: #ff7245;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

.btn {
  
}
.btn:after {
  position: absolute;
  content: "";
  top: 5px;
  left: 6px;
  width: 90%;
  height: 70%;
  border: 1px solid #000;
  opacity: 0;
  transition: all 0.3s ease;
}
.btn:hover:after {
  opacity: 1;
  background-color: transparent;
}


#aboutme{
  height: 100vh;
  background-color: white;
  background-position: center;
  background-size: cover;
  margin-top: 50px;
  margin-bottom: 100px;
}

@media(max-width:  992px){
  .first{order: 1; margin-bottom: 10px;}
  .second{order: 2; margin-bottom: 10px;}
}

.carousel-inner img {
  margin: auto;
}
.carousel {
  width: 400px;
  height:225px;
}


.carousel-control-prev{
height: 225px;
}

.carousel-control-next{
height: 225px;
}

#myproj{
  color: #c33c23;
}

#projects{
  height: 100vh;
  background-color: #154e72;
  background: url(images/bg2.jpg);
  background-position: center;
  background-size: cover;
}

@media (max-width: 992px){
  #projects{
    height: 125vh;
  }
}

  @media (max-width: 576px){
     #projects{
    height: 300vh;
    }
  }







.map{
  border: 10px solid #0e2948;
  padding: 0;
  margin: 0;

}

#contactme{
  background-color: #0e2948;
  padding: 0;
  margin: 0;

}

.spacing{
    height: 140px;
}
footer{
  width: 100%;
  bottom: 0;
  background: linear-gradient(to right,#c33c23,#ff7245, #00a8a8,#0e2948);
  padding: 60px 0 20px;
  font-size: 15px;
  line-height: 20px;
}


ul li{
    list-style: none;
      margin-top: 10px;
}

ul li a{
  text-decoration: none;
  color: black  ;
}

ul li a:hover {
  color: #c33c23!important;
  animation-direction: right;

}



.newsletter{
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
  margin-bottom: 50px;

}

form .far { 
    font-size: 18px;
    margin-right: 0px;
 }

 form input{
    width: 80%;
    background-color: white;

 }